version: '3.8'

services:
  web:
    build: .
    ports:
      - '5001:5000'
    volumes:
      - ./instance:/app/instance
      - ./static/uploads:/app/static/uploads
      - ./templates:/app/templates
    env_file:
      - .env
    restart: unless-stopped

